web/WEB-INF/wsdl/localhost_8080/mlv-school-ws-client/Banque.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservice/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice/">

<xs:element name="debit" type="tns:debit"/>

<xs:element name="debitResponse" type="tns:debitResponse"/>

<xs:element name="depot" type="tns:depot"/>

<xs:element name="depotResponse" type="tns:depotResponse"/>

<xs:element name="solde" type="tns:solde"/>

<xs:element name="soldeResponse" type="tns:soldeResponse"/>

<xs:complexType name="solde">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="soldeResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="debit">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="debitResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="depot">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="depotResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>