src/conf/xml-resources/web-service-references/Banque/wsdl/localhost_8080/mlv-school-ws-client/Banque.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice/" name="Banque">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice/" schemaLocation="http://localhost:8080/mlv-school-ws-client/Banque?xsd=1"/>
</xsd:schema>
</types>
<message name="solde">
<part name="parameters" element="tns:solde"/>
</message>
<message name="soldeResponse">
<part name="parameters" element="tns:soldeResponse"/>
</message>
<message name="debit">
<part name="parameters" element="tns:debit"/>
</message>
<message name="debitResponse">
<part name="parameters" element="tns:debitResponse"/>
</message>
<message name="depot">
<part name="parameters" element="tns:depot"/>
</message>
<message name="depotResponse">
<part name="parameters" element="tns:depotResponse"/>
</message>
<portType name="Banque">
<operation name="solde">
<input wsam:Action="http://webservice/Banque/soldeRequest" message="tns:solde"/>
<output wsam:Action="http://webservice/Banque/soldeResponse" message="tns:soldeResponse"/>
</operation>
<operation name="debit">
<input wsam:Action="http://webservice/Banque/debitRequest" message="tns:debit"/>
<output wsam:Action="http://webservice/Banque/debitResponse" message="tns:debitResponse"/>
</operation>
<operation name="depot">
<input wsam:Action="http://webservice/Banque/depotRequest" message="tns:depot"/>
<output wsam:Action="http://webservice/Banque/depotResponse" message="tns:depotResponse"/>
</operation>
</portType>
<binding name="BanquePortBinding" type="tns:Banque">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="solde">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="debit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="depot">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Banque">
<port name="BanquePort" binding="tns:BanquePortBinding">
<soap:address location="http://localhost:8080/mlv-school-ws-client/Banque"/>
</port>
</service>
</definitions>